/* Add any CSS necessary for your custom content */

.navbar-brand.custom-logo {
        margin-top: 10px;
}

@media (max-width: 500px) {
        .navbar-brand.custom-logo {
                max-width: 85%;
        }
}

/* change the color of the License-Data Use Agreement */
.col-sm-9 .help-block {
	color: #515151;
}
